---
import MainLayout from "@layouts/MainLayout.astro";
import type { PokemonListResponse } from "@interfaces/pokemon-list.response";
import PokemonCard from "@components/pokemons/PokemonCard.astro";

const res = await fetch("https://pokeapi.co/api/v2/pokemon");
const data = (await res.json()) as PokemonListResponse;

console.log("🚀 ~ data:", data);

const title = "Astro Pokedex";
---

<MainLayout title={title}>
  <h1 class="text-3xl">Listado de Pókemons</h1>
  <hr />
  <section
    aria-label="Listado de Pókemons"
    class="grid grid-cols-1 sm:grid-cols-4 md:grid-cols-5 gap-4 mt-5"
  >
    {
      data.results.map((pokemon) => (
        <PokemonCard url={pokemon.url} name={pokemon.name} />
      ))
    }
  </section>
</MainLayout>
